version: "3"

services:
  ### schulcloud client and server
  mongodbsc:
    image: mongo:3.4
    ports:
      - "27017"
    volumes:
      - 'data-sc:/data/db'
    restart: always

  server:
    image: langleu/schulcloud-server
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
    ports:
      - "8080"
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  client:
    image: langleu/schulcloud-client
    depends_on:
      - mongodbsc
      - server
    links:
      - mongodbsc
      - server
    environment:
      - NODE_ENV=production
      - CALENDAR_SERVICE_ENABLED=true
    ports:
      - "3100"
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  nginx:
    image: langleu/schulcloud-nginx-local
    ports:
      - "80:80"
      - "8080:8080"
      - "3000:3000"
      - "3030:3030"
    links:
      - mongodbsc
      - server
      - client
      - web-calendar
      - notification
    environment:
      - NGINX_HOST=localhost
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  ### calendar service
  postgres:
    image: postgres:9.5
    ports:
      - "5432"
    volumes:
      - 'data-calendar:/var/lib/postgresql/data'
    environment:
      - POSTGRES_DB=schulcloud_calendar
      - POSTGRES_USER=node
      - POSTGRES_PASSWORD=genericpassword
    restart: always

  web-calendar:
    image: langleu/schulcloud-calendar
    ports:
      - "3000"
    depends_on:
      - postgres
    links:
      - postgres
    environment:
      - DB_PASSWORD=genericpassword
      - DB_HOST=postgres
      - DB_USERNAME=node
      - DB_DATABASE=schulcloud_calendar
      - SCHULCLOUD_BASE_PATH=http://nginx:8080
      - NOTIFICATION_SERVICE_BASE_PATH=http://nginx:3030
      - SCHULCLOUD_ALL_USERS_FOR_UUID=/resolve/users/
      - SCHULCLOUD_ALL_SCOPES_FOR_TOKEN=/resolve/scopes/
      - NOTIFICATION_SERVICE_NEW_NOTIFICATION=/messages
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  ### notification service
  notification:
    image: langleu/schulcloud-notification
    ports:
      - "3030"
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
      - BASE_PATH=http://nginx:8080
      - AUTHENTICATION_API_ENDPOINT=/resolve/users/
      - AUTHORIZATION_API_ENDPOINT=/resolve/scopes/
      - RESOLVE_API_ENDPOINT=/resolve/users/
      - MAILS_API_ENDPOINT=/mails/
      - CALLBACK_API_ENDPOINT=/notification/callback/
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

# If using kompose, then comment out the following:
volumes:
  data-sc:
  data-calendar:
