version: "3"

services:
  ### schulcloud client and server
  mongodbsc:
    image: mongo:3.4
    ports:
      - "27017"
    volumes:
      - 'data-sc:/data/db'
    deploy:
      placement:
        constraints:
          - node.hostname == databases
    restart: always

  server:
    image: schulcloud/schulcloud-server
    build: schulcloud/server
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
      - SMTP_HOST=127.0.0.1
      - SMTP_PORT=25
      - AUTHENTICATION=verylonggenericstring
      - AWS_ENDPOINT_URL=https://genericurl.com
      - AWS_SECRET_ACCESS_KEY=genericstring
      - AWS_ACCESS_KEY=genericstring
      - MONGO_URI=mongodb://mongodbsc:27017/schulcloud
      - CALENDAR_URI=http://web-calendar:3000
      - CONTENT_URI=http://content:4040
      - NOTIFICATION_URI=http://notification:3030
      - PORT=9000
    ports:
      - "9000:9000"
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always

  client:
    image: schulcloud/schulcloud-client
    build: schulcloud/client
    depends_on:
      - mongodbsc
      - server
    links:
      - mongodbsc
      - server
    environment:
      - NODE_ENV=production
      - CALENDAR_SERVICE_ENABLED=true
      - BACKEND_URL=http://server:9000
      - HOST=https://schul-cloud.org
    ports:
      - "80:3100"
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always

  ### calendar service
  postgres:
    image: postgres:9.5
    ports:
      - "5432"
    volumes:
      - 'data-calendar:/var/lib/postgresql/data'
    environment:
      - POSTGRES_DB=schulcloud_calendar
      - POSTGRES_USER=node
      - POSTGRES_PASSWORD=genericpassword
    deploy:
      placement:
        constraints:
          - node.hostname == databases
    restart: always

  web-calendar:
    image: langleu/schulcloud-calendar
    build: calendar/calendar-api
    ports:
      - "3000"
    depends_on:
      - postgres
    links:
      - postgres
    environment:
      - DB_PASSWORD=genericpassword
      - DB_HOST=postgres
      - DB_USERNAME=node
      - DB_DATABASE=schulcloud_calendar
      - SCHULCLOUD_BASE_PATH=http://server:9000
      - NOTIFICATION_SERVICE_BASE_PATH=http://notification:3030
      - SCHULCLOUD_ALL_USERS_FOR_UUID=http://server:9000/resolve/users/
      - SCHULCLOUD_ALL_SCOPES_FOR_TOKEN=http://server:9000/resolve/scopes/
      - NOTIFICATION_SERVICE_NEW_NOTIFICATION=http://notification:3030/messages
      - NODE_ENV=production
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always

  ### notification service
  notification:
    image: langleu/schulcloud-notification
    build: notification/service
    ports:
      - "3030"
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
      - BASE_PATH=http://server:9000
      - AUTHENTICATION_API_ENDPOINT=/resolve/users/
      - AUTHORIZATION_API_ENDPOINT=/resolve/scopes/
      - RESOLVE_API_ENDPOINT=/resolve/users/
      - MAILS_API_ENDPOINT=/mails/
      - CALLBACK_API_ENDPOINT=/notification/callback/
      - FIREBASE_TOKEN=generictoken
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always

  ### content service
  content:
    image: schulcloud/schulcloud-content
    build: content/content-api
    environment:
      BACKEND_URL: https://server:9000/
      MONGO_URI: mongodb://content-mongodb:27017/schulcloud_content
    ports:
      - "4040"
    depends_on:
      - content-mongodb
      - content-elasticsearch
    links:
      - content-mongodb:mongodb
      - content-elasticsearch:elasticsearch
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always
  
  content-mongodb:
    image: mongo:3.4.3
    volumes:
      - data-schulcloud-content:/data/db
    ports:
      - "27017"
    deploy:
      placement:
        constraints:
          - node.hostname == databases
    command: [ "--replSet", "rs" ]

  content-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    environment:
      - cluster.name=docker-cluster
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
      - xpack.security.enabled=false
    volumes:
      - data-schulcloud-elasticsearch:/usr/share/elasticsearch/data
    ports:
      - "9200"
    deploy:
      placement:
        constraints:
          - node.hostname == elasticsearch

  content-mongo-connector:
    image: schulcloud/schulcloud-content-mongo-connector
    build: content/content-mongo-connector
    environment:
      - MONGO_URI=content-mongodb
      - MONGO_PORT=27017
      - ELASTIC_URI=content-elasticsearch
      - ELASTIC_PORT=9200
    depends_on:
      - content-mongodb
      - content-elasticsearch
    links:
      - content-mongodb:mongodb
      - content-elasticsearch:elasticsearch
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker

  ### backup container
  backup:
    image: schulcloud/schulcloud-backup
    ports:
      - "9090"
    depends_on:
      - mongodbsc
      - postgres
    links:
      - mongodbsc
      - postgres
    environment:
      - NODE_ENV=production
      - AUTHENTICATION=supersecretpassword
      - ACCESS_KEY_ID=genericstring
      - SECRET_ACCESS_KEY=genericstring
      - ENDPOINT=https://genericurl.com
      - PGHOST=postgres
      - MONGO_HOST=mongodbsc
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        constraints:
          - node.labels.node_type == worker
    restart: always

# If using kompose, then comment out the following:
volumes:
  data-sc:
  data-calendar:
  data-schulcloud-content:
  data-schulcloud-elasticsearch:
