version: "3"

services:
  ### schulcloud client and server
  mongodbsc:
    image: mongo:3.4
    ports:
      - "27017"
    volumes:
      - 'data-sc:/data/db'
    restart: always

  server:
    build: server
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  client:
    build: client
    depends_on:
      - mongodbsc
      - server
    links:
      - mongodbsc
      - server
    environment:
      - NODE_ENV=production
      - BACKEND_URL=http://server:8080
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

  nginx:
    build: nginx
    ports:
      - "80:80"
      - "8080:8080"
    links:
      - mongodbsc
      - server
      - client
    environment:
      - NGINX_HOST=localhost
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 10s
    restart: always

volumes:
  data-sc:
