version: "3"

services:
  ### schulcloud client and server
  mongodbsc:
    image: mongo:3.4
    ports:
      - "27017"
    volumes:
      - 'data-sc:/data/db'
    deploy:
      placement:
        contraints:
          - node == docker-swarm-4
    restart: always

  server:
    image: langleu/schulcloud-server
    build: server
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
      - SMTP_HOST=127.0.0.1
      - SMTP_PORT=25
      - AUTHENTICATION=verylonggenericstring
      - AWS_ENDPOINT_URL=https://genericurl.com
      - AWS_SECRET_ACCESS_KEY=genericstring
      - AWS_ACCESS_KEY=genericstring
      - MONGO_URI=mongodb://mongodbsc:27017/schulcloud
      - CALENDAR_URI=http://web-calendar:3000
      - CONTENT_URI=http://deprecated:666
      - NOTIFICATION_URI=http://notification:3030
      - PORT=9000
    ports:
      - "9000"
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: any
        delay: 10s
      placement:
        contraints:
          - node.labels.node_type != db
    restart: always

  client:
    image: langleu/schulcloud-client
    build: client
    depends_on:
      - mongodbsc
      - server
    links:
      - mongodbsc
      - server
    environment:
      - NODE_ENV=production
      - CALENDAR_SERVICE_ENABLED=true
      - BACKEND_URL=http://server:9000
      - HOST=https://schul-cloud.org
    ports:
      - "3100"
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: any
        delay: 10s
      placement:
        contraints:
          - node.labels.node_type != db
    restart: always

  nginx:
    image: langleu/schulcloud-nginx-local
    build: nginx
    ports:
      - "80:80"
      - "9000:9000"
      - "3000:3000"
      - "3030:3030"
    links:
      - mongodbsc
      - server
      - client
      - web-calendar
      - notification
    environment:
      - NGINX_HOST=localhost
    deploy:
      restart_policy:
        condition: any
        delay: 10s
    placement:
      contraints:
        - node.labels.node_type != db
    restart: always

volumes:
  data-sc:
