version: "3"

services:
  ### schulcloud notification service
  ### mongodb only defined for fully functional example, in the end it will use the same as the main server
  mongodbsc:
    image: mongo:3.4
    ports:
      - "27017"
    volumes:
      - 'data-sc:/data/db'
    restart: always

  notification:
    image: langleu/schulcloud-notification
    build: service
    ports:
      - "3030"
    depends_on:
      - mongodbsc
    links:
      - mongodbsc
    environment:
      - NODE_ENV=production
      - BASE_PATH=http://server:9000
      - AUTHENTICATION_API_ENDPOINT=/resolve/users/
      - AUTHORIZATION_API_ENDPOINT=/resolve/scopes/
      - RESOLVE_API_ENDPOINT=/resolve/users/
      - MAILS_API_ENDPOINT=/mails/
      - CALLBACK_API_ENDPOINT=/notification/callback/
      - FIREBASE_TOKEN=generictoken
    deploy:
      restart_policy:
        condition: any
        delay: 10s
      placement:
        contraints:
          - node.labels.node_type != db
    restart: always
volumes:
  data-sc:
